@import "bulma.sass";
@import "../script/slick/slick.css";
@import "../script/slick/slick-theme.css";

$navy-blue: #003366;
$grey: #727272;
$gold: #f2b826;

//Sprites
.sprite {
	display: block;
	&.farhan-sara {	
		background-image: url('../img/farhan-sara-white.svg');
		background-size: contain;
	    width: 300px;
	    height: 225px;
	    background-repeat: no-repeat;
	    margin: 0 auto;
	    margin-bottom: 20px;
	}
	&.coat-of-arms {
		background-image: url('../img/coat-of-arms.svg');
		background-size: contain;
	    width: 95px;
	    height: 100px;
	    background-repeat: no-repeat;
	}
	&.location {
		background-image: url('../img/sprite.svg');
		width: 9px;
	    height: 12px;
	    background-position: -10px 0px;
	    background-size: 100px 38px;
	    background-repeat: no-repeat;
	    display: inline-block;
	    &.white {
	    	background-position: -10px -13px;
	    }
	    &.blue {
	    	background-position: -10px -26px;
	    }
	}
	&.angle {
		background-image: url('../img/sprite.svg');
		width: 7px;
		height: 13px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 0px 0px;
	    background-size: 100px 38px;
		&.is-sprite-right { margin-left: 10px; }
		&.is-sprite-left { margin-right: 10px; }
		&.white { background-position: 0px -13px; }
		&.blue { background-position: 0px -26px; }
	}
}
.icon {
	background-image: url('../img/iconography.svg');
	background-size: 360px 60px;
	display: block;
	content: " ";
	background-repeat: no-repeat;
	height: 70px;
	margin-bottom: -5px;
	&.calendar {
		background-position: -37px 0px;
		width: 63px;
	}
	&.location {
		background-position: -98px 0px;
		width: 61px;
	}
	&.agenda {
		background-position: -159px 0px;
		width: 48px;
	}
	&.upload-cloud {
		background-position: -206px 0px;
		width: 60px;
	}
	&.upload-whatsapp {
		background-position: -266px 0px;
		width: 55px;
	}
}
.illustration {
	display: block;
	content: " ";
	background-repeat: no-repeat;
	background-size: 300px 300px;
	&.photos {
		background-image: url('../img/illus-photo.svg');
		width: 300px;
		height: 300px;
	}
}


//Headers & Text
h1, h2, h3, h4, h5, h6 {
	color: $navy-blue;
	font-family: 'Alice', serif;
	margin-bottom: 30px;
}
h1 { letter-spacing: 0.5rem; }
h2 {
	letter-spacing: 0.2rem;
	margin-bottom: 20px;
}
h3 {
	font-size: 2.2rem;
	line-height: 2.1rem;
	z-index: 5;
	position: relative;
}
h4 {
	font-size: 1.6rem;
	opacity: 0.7;
	margin-bottom: 0px;
	line-height: 1.6rem;
	margin-bottom: 5px;
}
h5 {
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: desaturate($navy-blue, 50%);
	font-family: 'Aleo', serif;
	margin: 10px 0 0;
}

a {
	&.white {
		color: white;
		&:hover { text-decoration: underline; }
	}
}
p { line-height: 1.4rem; }

strong { color: #585858; }

hr {
	background-color: transparent;
	border-top: 2px solid $gold;
	opacity: 0.2;
}

ul.list-bullet {
	list-style: initial;
	margin: 15px 0;
	li {
		margin-inline-start: 30px;
	}
}

//BODY & CONTAINER
body {
	font-family: 'Aleo', serif;
	margin: 0px;
	box-sizing: border-box;
	font-size: 1rem;
	color: $grey;
}
.container {
	max-width: 768px;
	margin: 0 auto;
	padding: 50px 20px;
}

//ELEMENTS
.decorative-title {
	&:after {
		content: "";
		background-image: url('../img/ring.svg');
		width: 70px;
	    height: 52px;
	    background-size: contain;
	    font-size: 5rem;
	    position: absolute;
	    opacity: 0.3;
	    left: 0;
	    right: 0;
	    top: -13px;
	    margin-left: auto;
	    margin-right: auto;
	    z-index: -1;
	}
}

//BUTTON
.button {
	// height: auto;
	white-space: unset;
	line-height: 1.3rem;
	margin-bottom: 15px;
	font-family: 'Aleo', serif;
	padding: 0 1.5em;
	transition: background-color 0.15s;
	&.blue {
		background-color: $navy-blue;
		color: white;
		border-color: transparent;
		&:hover {
			background-color: lighten($navy-blue, 10%);
			border-color: transparent;
		}
	}
	&.gold {
		background-color: $gold;
		color: $navy-blue;
		border-color: transparent;
		&:hover {
			background-color: lighten($gold, 10%);
			border-color: transparent;
		}
	}
}

//BG PANELS
.dark {
	background-color: $navy-blue;
	color: white;
	h1, h2, h3, h4, h5, h6 {
		color: $gold;
	}
	label { color: white; }
}
.bordered {
	margin: 20px;
    border: 2px solid $gold;
    border-radius: 1px;
}
.bg-arch { background-image: url('../img/blue-arch.png'); }


//HELPER CLASSES
.valign-center { align-items: center; }
.margin-auto { margin: 0 auto; }
.no-wrap { white-space: nowrap; }
.is-group { margin-bottom: 20px; }

//OVERRIDES
.select.is-expanded {
	width: 100%;
	select { width: 100%; }
}



/////////////////////////
//SECTION: HEADER
////////////////////////
#header {
	// background-color: lighten($gold, 20%);
	min-height: 500px;
	background-image: url('../img/headerbanner2.jpg');
	background-size: cover;
	background-position: center;
	text-align: center;
	color: white;
	text-transform: uppercase;
	.container {
		padding-top: 20px;
	}
	h1 {
		font-size: 4rem;
		color: white;
		line-height: 3.2rem;
	}
	h2 {
		margin-top: -10px;
		color: white;
	}
	.navigation-bar--desktop {
		width: 100%;
		.navigation-bar {
			padding: 20px;
			display: flex;
		    align-items: center;
		    justify-content: space-around;
		    & > div {
		    	width: 20%;
		    	& > a { padding: 10px; }
		    }
		    .coat-of-arms { background-position: 50%; }
		}
	}
	.navigation-bar--mobile {
		width: 100%;
		padding: 20px;
		.coat-of-arms { margin: 0 auto; }
	}
}

/////////////////////////
//SECTION: WEDDING INFO
////////////////////////
#wedding {
	h4 { margin-bottom: 5px; }
	#countdown-clock {
		opacity: 0.6;
		line-height: 1.2rem;
    	margin-top: 5px;
	}
}

/////////////////////////
//SECTION: FAQ
////////////////////////
#faq {
	h3 {
		margin-bottom: 50px;
	}
	h4 {
		margin-bottom: 10px;
		&::before {
			counter-increment: faq;
			content: counter(faq) ". ";
		}
	}
	p, h5 {text-align: left; margin-bottom: 5px;}
	counter-reset: faq;
	.is-group {
		margin-bottom: 40px;
	}
}

/////////////////////////
//SECTION: ABOUT US
////////////////////////
#about-us {
	h3 {
		margin-bottom: 30px;
		font-size: 2rem;
		// text-transform: uppercase;
	}
	h4 {
		font-size: 1.4rem;
		// text-transform: uppercase;
		color: $gold;
		opacity: 1;
	}
	.img {
		content: "";
		width: 230px;
		height: 230px;
		display: block;
		border-radius: 50%;
		background-size: cover;
		margin: 0 auto;
		margin-bottom: 20px;
		&--farhan {
			background-image: url('https://lh3.googleusercontent.com/JnA6SeetkBF0mO8f269JLpZPM5-tnjveUhwNK1tZPGpZ4hfdimK88Q97LxZOqxZUN8M0K_rBiF-611Sxp-CcGHatF2zhV_XEcHl1y1kZxhALI7c7iaAqzlJ70M0el32MDdfAMhffxn92g3m5Loy_5qFChtlTpX2U2_6RKIWR0iB2yasF2WTM92QZDpVmTyOp90dmyvJE80L7p1viHyAKsKVCr-cgTWUMeXxRMaHMz-L9ZX4ZMW4n32yxrXPpfhS_GP9mWw1XKnNgz6Sagc3sMIXGm0rDd4t16wuEXW31tWolgle-9NoWPL-d7JDO4S7_hSBchVpDjZGm5cph9mEjUFBubDk_dqM_ncBuTa-rUUO0E-jd0LVn6ja1WnbgXZdD6tFZSdrGR9RhgHtMkGsu3gjOgNv_hIZABUlUSsaRWQsbevyAc5j0vLgT0VPyHUq2RgGrvvyqv0UxmDt6feRfBMtfm1mV0tgjcUKbX0lCHIU3wT4DFdIToHIDxAoeXpc_kF9YxwttlBNlLyF1R0s9FVIdfbbaeBLooAd2Q7RaT6_-LVObI4AZP-6HuQSKS6l6f8QYuKTBE2G9CZKcQc7nAgVGjoTmWwj7jnZz1mzZg5ECT9_IQ8BYdY4QSuL-I5Em0oktbsQnBeHVpFuQITjrdgO3G_tvWFEPKYZ_LdjOLBk5OSRz8OLZJdtEQW2tem91c-j_Nuz-O5Wh8kpj21V1sblK6g=w810-h1080-no');
		}
		&--sara {
			background-image: url('https://lh3.googleusercontent.com/xkTyrcSK_DUkjbH3pl-YPLVgMu0zaOU-NnHZ2BRjykM_WcW1KgCcvvtZItSVFGyIrPE3L9UVyegOybtA20V8l71puFKElIBcF6AuOyrUBrK-TT0RzrUcnpgE1KSscYqFs5pxwmykzGe4FBrA7Mh_XJXLJN2Jtf4ut5PYBknuLlRHIPyV8_9ufEeJflZboekbDbYifFAZ_gi0NpGk4tCXPl1Cbgpa9O8kD9f7JoxAU6WqS8KD0rK8fMIdpIFqxmtLy8H_47Rjq6u2Ve2Jauh4vyGuOI6IqofvWe5fS4WmW8NHj25guT33lXE-nZ1P_Ff_Hv-u_oLYRbtgoy2pk9k4Mm0n3PtrtW-b_mvIPXff4RoPPrFyjLRaYSZWS0bGt_EDopYGRmom2IsMxOOfXLli9bN8g65y2oODhD1a4Nbx-TyN2IsiW0VsFvi50-omPrf_34GpTqNzA02_ybOtMhtg1gW5kqA2_08sm3MF_Nm9ODAQLFHS_nNyM_SkwDTG-yGvljjGYI-wC35p9ShHRulfQGRg2QFvcQqAP8QHUjOkd7iFtSqvL6nPh4i_tODQnvr5-j5GzgZQJFNvGr_WDP9JmYeBWNwH1rt8KYpcQTuZ7sX9lkqesQqLD2Qo_AWPq0bsj2rJpUMcT0rWJD_mlwRxVw_xyhoFES6P5bGv6ooT1xcV_SBr8IhjstMcFloUJDpErE2Kpky-Pvw5A07aLgjaEAijFg=w1078-h1436-no');
		}
	}
}

/////////////////////////
//SECTION: RSVP & GUESTBOOK
////////////////////////
#rsvp, #guestbook {
	outline: none;
	.form {
		margin-top: 45px;
		padding: 20px;
		border: 2px solid $gold;
		border-radius: 1px;
	}
}
#rsvp-guestbook { outline: none; }

/////////////////////////
//SECTION: RSVP
////////////////////////
#form-rsvp {
	@include mobile {
		max-width: 425px;
    	margin: 30px auto;
	}
	input[name="rsvp-attendance"] { display: none; }
	.hidden-validation {
		font-style: italic;
		color: $gold;
		margin-top: 5px;
		display: none;
	}
	.form-radio-container {
	    border-radius: 5px;
	    padding: 4px;
	    background-color: white;
	}
	.form-radio {
		display: block;
		margin: 0 auto;
		padding: 5px 15px;
		font-size: 18px;
		cursor: pointer;
		border-radius: 3px;
		text-align: center;
		color: $navy-blue !important;
		border-right: 2px solid white;
		&:hover { background-color: lighten($gold , 30%); }
		&:active { background-color: $gold; }
		&:last-of-type { border-right: none; }
	}
	input[type="radio"]:checked + label.form-radio {
	   background-color: $gold;
	   color: $navy-blue !important;
	}
}

/////////////////////////
//SECTION: GUESTBOOK
////////////////////////
#upload {
	outline: none;
	.button { margin-bottom: 10px;}
}

/////////////////////////
//SECTION: GALLERY
////////////////////////
#gallery {
	img {
		margin: 0 auto;
		@media (max-width: 768px) {
			max-height: 300px;
			max-width: 320px;
		}
	}
}

/////////////////////////
//COMPONENT: SLICK
////////////////////////
.slick-track .slick-slide {
	display: flex;
	height: auto;
	align-items: center;
	justify-content: center;
}
.slick-slide { margin: 0 15px; } /* Parent */
.slick-list { margin: 0 -15px; } /* Parent */
.slick-track { display: flex; }


//Hide Show Before/After
#cta-before, #cta-after, #rsvp, #reception-activity, #guestbook, .postwedding, .prewedding {
	display: none;
}
