.sprite {
  display: block; }
  .sprite.farhan-sara {
    background-image: url("../img/farhan-sara-white.svg");
    background-size: contain;
    width: 300px;
    height: 225px;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 20px; }
  .sprite.coat-of-arms {
    background-image: url("../img/coat-of-arms.svg");
    background-size: contain;
    width: 95px;
    height: 100px;
    background-repeat: no-repeat; }
  .sprite.location {
    background-image: url("../img/sprite.svg");
    width: 9px;
    height: 12px;
    background-position: -10px 0px;
    background-size: 100px 38px;
    background-repeat: no-repeat;
    display: inline-block; }
    .sprite.location.white {
      background-position: -10px -13px; }
    .sprite.location.blue {
      background-position: -10px -26px; }

.icon {
  background-image: url("../img/iconography.svg");
  background-size: 360px 60px;
  display: block;
  content: " ";
  background-repeat: no-repeat;
  height: 70px;
  margin-bottom: -5px; }
  .icon.calendar {
    background-position: -37px 0px;
    width: 63px; }
  .icon.location {
    background-position: -98px 0px;
    width: 61px; }
  .icon.agenda {
    background-position: -159px 0px;
    width: 48px; }
  .icon.upload-cloud {
    background-position: -206px 0px;
    width: 60px; }
  .icon.upload-whatsapp {
    background-position: -266px 0px;
    width: 55px; }

.illustration {
  display: block;
  content: " ";
  background-repeat: no-repeat;
  background-size: 300px 300px; }
  .illustration.photos {
    background-image: url("../img/illus-photo.svg");
    width: 300px;
    height: 300px; }

h1, h2, h3, h4, h5, h6 {
  color: #003366;
  font-family: 'Alice', serif;
  margin-bottom: 30px; }

h1 {
  letter-spacing: 0.5rem; }

h2 {
  letter-spacing: 0.2rem;
  margin-bottom: 20px; }

h3 {
  font-size: 2.2rem;
  line-height: 2.3rem;
  z-index: 5;
  position: relative; }

h4 {
  font-size: 1.6rem;
  opacity: 0.7;
  margin-bottom: 0px;
  line-height: 1.6rem;
  margin-bottom: 5px; }

h5 {
  font-size: 1.3rem;
  line-height: 1.4rem; }

a.white {
  color: white; }
  a.white:hover {
    text-decoration: underline; }

p {
  line-height: 1.4rem; }

strong {
  color: #585858; }

hr {
  background-color: transparent;
  border-top: 2px solid #f2b826;
  opacity: 0.2; }

body {
  font-family: 'Aleo', serif;
  margin: 0px;
  box-sizing: border-box;
  font-size: 1rem;
  color: #727272; }

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 50px 20px; }

.decorative-title:after {
  content: "";
  background-image: url("../img/ring.svg");
  width: 70px;
  height: 52px;
  background-size: contain;
  font-size: 5rem;
  position: absolute;
  opacity: 0.3;
  left: 0;
  right: 0;
  top: -13px;
  margin-left: auto;
  margin-right: auto;
  z-index: -1; }

.button {
  height: auto;
  white-space: unset;
  line-height: 1.4rem;
  margin-bottom: 15px;
  font-family: 'Aleo', serif;
  padding-left: 1.5em;
  padding-right: 1.5em;
  transition: background-color 0.15s; }
  .button.blue {
    background-color: #003366;
    color: white;
    border-color: transparent; }
    .button.blue:hover {
      background-color: #004d99;
      border-color: transparent; }
  .button.gold {
    background-color: #f2b826;
    color: #003366;
    border-color: transparent; }
    .button.gold:hover {
      background-color: #f5c856;
      border-color: transparent; }

.dark {
  background-color: #003366;
  color: white; }
  .dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
    color: #f2b826; }
  .dark label {
    color: white; }

.bordered {
  margin: 20px;
  border: 2px solid #f2b826;
  border-radius: 1px; }

.bg-arch {
  background-image: url("../img/blue-arch.png"); }

.valign-center {
  align-items: center; }

.margin-auto {
  margin: 0 auto; }

.no-wrap {
  white-space: nowrap; }

.is-group {
  margin-bottom: 20px; }

.select.is-expanded {
  width: 100%; }
  .select.is-expanded select {
    width: 100%; }

#header {
  min-height: 500px;
  background-image: url("../img/headerbanner2.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  text-transform: uppercase; }
  #header .container {
    padding-top: 20px; }
  #header h1 {
    font-size: 4rem;
    color: white;
    line-height: 3.2rem; }
  #header h2 {
    margin-top: -10px;
    color: white; }
  #header .navigation-bar {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around; }
    #header .navigation-bar > div {
      width: 20%; }
      #header .navigation-bar > div > a {
        padding: 10px; }
    #header .navigation-bar .coat-of-arms {
      background-position: 50%; }

#wedding h4 {
  margin-bottom: 5px; }

#wedding #countdown-clock {
  opacity: 0.6; }

#faq {
  counter-reset: faq; }
  #faq h4::before {
    counter-increment: faq;
    content: counter(faq) ". "; }
  #faq p, #faq h4, #faq h5 {
    text-align: left;
    margin-bottom: 5px; }

#about-us h3 {
  margin-bottom: 30px;
  font-size: 2rem; }

#about-us h4 {
  font-size: 1.4rem;
  color: #f2b826;
  opacity: 1; }

#about-us .img {
  content: "";
  width: 230px;
  height: 230px;
  display: block;
  border-radius: 50%;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 20px; }
  #about-us .img--farhan {
    background-image: url("https://lh3.googleusercontent.com/JnA6SeetkBF0mO8f269JLpZPM5-tnjveUhwNK1tZPGpZ4hfdimK88Q97LxZOqxZUN8M0K_rBiF-611Sxp-CcGHatF2zhV_XEcHl1y1kZxhALI7c7iaAqzlJ70M0el32MDdfAMhffxn92g3m5Loy_5qFChtlTpX2U2_6RKIWR0iB2yasF2WTM92QZDpVmTyOp90dmyvJE80L7p1viHyAKsKVCr-cgTWUMeXxRMaHMz-L9ZX4ZMW4n32yxrXPpfhS_GP9mWw1XKnNgz6Sagc3sMIXGm0rDd4t16wuEXW31tWolgle-9NoWPL-d7JDO4S7_hSBchVpDjZGm5cph9mEjUFBubDk_dqM_ncBuTa-rUUO0E-jd0LVn6ja1WnbgXZdD6tFZSdrGR9RhgHtMkGsu3gjOgNv_hIZABUlUSsaRWQsbevyAc5j0vLgT0VPyHUq2RgGrvvyqv0UxmDt6feRfBMtfm1mV0tgjcUKbX0lCHIU3wT4DFdIToHIDxAoeXpc_kF9YxwttlBNlLyF1R0s9FVIdfbbaeBLooAd2Q7RaT6_-LVObI4AZP-6HuQSKS6l6f8QYuKTBE2G9CZKcQc7nAgVGjoTmWwj7jnZz1mzZg5ECT9_IQ8BYdY4QSuL-I5Em0oktbsQnBeHVpFuQITjrdgO3G_tvWFEPKYZ_LdjOLBk5OSRz8OLZJdtEQW2tem91c-j_Nuz-O5Wh8kpj21V1sblK6g=w810-h1080-no"); }
  #about-us .img--sara {
    background-image: url("https://lh3.googleusercontent.com/xkTyrcSK_DUkjbH3pl-YPLVgMu0zaOU-NnHZ2BRjykM_WcW1KgCcvvtZItSVFGyIrPE3L9UVyegOybtA20V8l71puFKElIBcF6AuOyrUBrK-TT0RzrUcnpgE1KSscYqFs5pxwmykzGe4FBrA7Mh_XJXLJN2Jtf4ut5PYBknuLlRHIPyV8_9ufEeJflZboekbDbYifFAZ_gi0NpGk4tCXPl1Cbgpa9O8kD9f7JoxAU6WqS8KD0rK8fMIdpIFqxmtLy8H_47Rjq6u2Ve2Jauh4vyGuOI6IqofvWe5fS4WmW8NHj25guT33lXE-nZ1P_Ff_Hv-u_oLYRbtgoy2pk9k4Mm0n3PtrtW-b_mvIPXff4RoPPrFyjLRaYSZWS0bGt_EDopYGRmom2IsMxOOfXLli9bN8g65y2oODhD1a4Nbx-TyN2IsiW0VsFvi50-omPrf_34GpTqNzA02_ybOtMhtg1gW5kqA2_08sm3MF_Nm9ODAQLFHS_nNyM_SkwDTG-yGvljjGYI-wC35p9ShHRulfQGRg2QFvcQqAP8QHUjOkd7iFtSqvL6nPh4i_tODQnvr5-j5GzgZQJFNvGr_WDP9JmYeBWNwH1rt8KYpcQTuZ7sX9lkqesQqLD2Qo_AWPq0bsj2rJpUMcT0rWJD_mlwRxVw_xyhoFES6P5bGv6ooT1xcV_SBr8IhjstMcFloUJDpErE2Kpky-Pvw5A07aLgjaEAijFg=w1078-h1436-no"); }

#rsvp, #guestbook {
  outline: none; }
  #rsvp .form, #guestbook .form {
    margin-top: 45px;
    padding: 20px;
    border: 2px solid #f2b826;
    border-radius: 1px; }

#rsvp-guestbook {
  outline: none; }

#gallery img {
  margin: 0 auto; }
  @media (max-width: 768px) {
    #gallery img {
      max-height: 300px;
      max-width: 320px; } }

#upload {
  outline: none; }
  #upload .button {
    margin-bottom: 10px; }

/* the slides */
.slick-slide {
  margin: 0 15px; }

/* the parent */
.slick-list {
  margin: 0 -15px; }

.slick-track {
  display: flex; }

.slick-track .slick-slide {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center; }

#cta-before, #cta-after, #rsvp, #reception-activity, #guestbook, .postwedding, .prewedding {
  display: none; }
