@import "bulma.sass";

$navy-blue: #003366;
$grey: #727272;
$gold: #f2b826;


//Headers & Text
h1, h2, h3, h4, h5, h6 {
	color: $navy-blue;
	font-family: 'Alice', serif;
	margin-bottom: 30px;
}
h1 { letter-spacing: 0.5rem; }
h2 {
	letter-spacing: 0.2rem;
	margin-bottom: 20px;
}
h3 {
	font-size: 2.2rem;
	line-height: 2.1rem;
	z-index: 5;
	position: relative;
	@include mobile {
		font-size: 1.8rem;
    	line-height: 2rem;
	}
}
h4 {
	font-size: 1.6rem;
	opacity: 0.7;
	margin-bottom: 0px;
	line-height: 1.6rem;
	margin-bottom: 5px;
	@include mobile { font-size: 1.5rem; }
}
h5 {
	font-size: 1.2rem;
	line-height: 1.5rem;
	color: desaturate($navy-blue, 50%);
	font-family: 'Alice', serif;
	margin: 15px 0 0;
}

a {
	&.white {
		color: white;
		&:hover { text-decoration: underline; }
	}
}
p {
	font-size: 1.2rem;
	line-height: 1.6rem;
	@include mobile {
		font-size: 1rem;
		line-height: 1.2rem;
	}
}

strong { color: #585858; }

hr {
	background-color: transparent;
	border-top: 2px solid $gold;
	opacity: 0.2;
}

ul  {
	margin-top: 10px;
	li {
		margin-bottom: 10px;
	}
	&.list-bullet {
		list-style: initial;
		margin: 15px 0;
		li {
			margin-inline-start: 30px;
		}
	}
}

label {
	font-size: 1.2rem;
	@include mobile { font-size: 1rem; }
}


//BODY & CONTAINER
body {
	font-family: 'Halant', serif;
	margin: 0px;
	box-sizing: border-box;
	font-size: 1.2rem;
	color: $grey;
	@include mobile {
		font-size: 1rem;
		line-height: 1.2rem;
	}
}
.container {
	max-width: 768px;
	margin: 0 auto;
	padding: 50px 30px;
}

//ELEMENTS
.decorative-title {
	&:after {
		content: "";
		background-image: url('../img/ring.svg');
		width: 70px;
	    height: 52px;
	    background-size: contain;
	    font-size: 5rem;
	    position: absolute;
	    opacity: 0.3;
	    left: 0;
	    right: 0;
	    top: -13px;
	    margin-left: auto;
	    margin-right: auto;
	    z-index: -1;
	}
}

//BUTTON
.button {
	// height: auto;
	white-space: unset;
	line-height: 1.3rem;
	margin-bottom: 15px;
	font-family: 'Alice', serif;
	padding: 0 1.5em;
	transition: background-color 0.15s;
	&.blue {
		background-color: $navy-blue;
		color: white;
		border-color: transparent;
		&:hover {
			background-color: lighten($navy-blue, 10%);
			border-color: transparent;
		}
	}
	&.gold {
		background-color: $gold;
		color: $navy-blue;
		border-color: transparent;
		&:hover {
			background-color: lighten($gold, 10%);
			border-color: transparent;
		}
	}
	&.is-normal { color: $navy-blue; }
}

//BG PANELS
.dark {
	background-color: $navy-blue;
	color: white;
	h1, h2, h3, h4, h5, h6, strong {
		color: $gold;
	}
	label { color: white; }
}
.bordered {
	margin: 20px;
    border: 2px solid $gold;
    border-radius: 1px;
}
.bg-arch { background-image: url('../img/blue-arch.png'); }


//HELPER CLASSES
.valign-center { align-items: center; }
.margin-auto { margin: 0 auto; }
.no-wrap { white-space: nowrap; }
.is-group { margin-bottom: 20px; }

//OVERRIDES
.select.is-expanded {
	width: 100%;
	select { width: 100%; }
}

//Sprites
.sprite {
	display: block;
	&.farhan-sara {	
		background-image: url('../img/farhan-sara-white.svg');
		background-size: contain;
	    width: 300px;
	    height: 225px;
	    background-repeat: no-repeat;
	    margin: 0 auto;
	    margin-bottom: 20px;
	    @include mobile {
	    	width: 270px;
    		height: 215px;
	    }
	}
	&.coat-of-arms {
		background-image: url('../img/coat-of-arms.svg');
		background-size: contain;
	    width: 95px;
	    height: 100px;
	    background-repeat: no-repeat;
	}
	&.location {
		background-image: url('../img/sprite.svg');
		width: 9px;
	    height: 12px;
	    background-position: -10px 0px;
	    background-size: 100px 38px;
	    background-repeat: no-repeat;
	    display: inline-block;
	    &.white {
	    	background-position: -10px -13px;
	    }
	    &.blue {
	    	background-position: -10px -26px;
	    }
	}
	&.angle {
		background-image: url('../img/sprite.svg');
		width: 7px;
		height: 13px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 0px 0px;
	    background-size: 100px 38px;
		&.is-sprite-right { margin-left: 10px; }
		&.is-sprite-left { margin-right: 10px; }
		&.white { background-position: 0px -13px; }
		&.blue { background-position: 0px -26px; }
	}
}
.icon {
	background-image: url('../img/iconography.svg');
	background-size: 360px 60px;
	display: block;
	content: " ";
	background-repeat: no-repeat;
	height: 70px;
	margin-bottom: -5px;
	&.calendar {
		background-position: -37px 0px;
		width: 63px;
	}
	&.location {
		background-position: -98px 0px;
		width: 61px;
	}
	&.agenda {
		background-position: -159px 0px;
		width: 48px;
	}
	&.upload-cloud {
		background-position: -206px 0px;
		width: 60px;
	}
	&.upload-whatsapp {
		background-position: -266px 0px;
		width: 55px;
	}
}
.illustration {
	display: block;
	content: " ";
	background-repeat: no-repeat;
	background-size: 300px 300px;
	&.photos {
		background-image: url('../img/illus-photo.svg');
		width: 300px;
		height: 300px;
	}
}



/////////////////////////
//SECTION: HEADER
////////////////////////
#header {
	// background-color: lighten($gold, 20%);
	min-height: 500px;
	background-image: url('../img/headerbanner.jpg');
	background-size: cover;
	background-position: center;
	text-align: center;
	color: white;
	text-transform: uppercase;
	.container {
		padding-top: 20px;
	}
	h1 {
		font-size: 4rem;
		color: white;
		line-height: 3.2rem;
	}
	h2 {
		font-size: 1rem;
		margin-top: -10px;
		color: white;
		@include mobile {
			font-size: 0.9rem;
    		line-height: 1.4rem;
		}
	}
	.navigation-bar--desktop {
		width: 100%;
		.navigation-bar {
			padding: 20px;
			display: flex;
		    align-items: center;
		    justify-content: space-around;
		    & > div {
		    	width: 20%;
		    	& > a { padding: 10px; }
		    }
		    .coat-of-arms { background-position: 50%; }
		}
	}
	.navigation-bar--mobile {
		width: 100%;
		padding: 20px;
		.coat-of-arms { margin: 0 auto; }
	}
}

/////////////////////////
//SECTION: WEDDING INFO
////////////////////////
#wedding {
	h4 { margin-bottom: 5px; }
	#countdown-clock {
		opacity: 0.6;
		line-height: 1.2rem;
    	margin-top: 5px;
	}
	.googlemaps { height: 300px; }
	.icon.location {
		@include mobile { margin: 0 auto; }
	}
}

/////////////////////////
//SECTION: FAQ
////////////////////////
#faq {
	h3 {
		margin-bottom: 50px;
	}
	h4 {
		margin-bottom: 10px;
		&::before {
			counter-increment: faq;
			content: counter(faq) ". ";
		}
	}
	p, h5 {text-align: left; margin-bottom: 5px;}
	counter-reset: faq;
	.is-group {
		margin-bottom: 40px;
	}
}

/////////////////////////
//SECTION: ABOUT US
////////////////////////
#about-us {
	h3 {
		margin-bottom: 30px;
		font-size: 2rem;
		// text-transform: uppercase;
	}
	h4 {
		font-size: 1.4rem;
		// text-transform: uppercase;
		color: $gold;
		opacity: 1;
	}
	.img {
		content: "";
		width: 230px;
		height: 230px;
		display: block;
		border-radius: 50%;
		background-size: cover;
		margin: 0 auto;
		margin-bottom: 20px;
		&--farhan {
			background-image: url('../img/farhan.jpg');
		}
		&--sara {
			background-image: url('../img/sara.jpg');	
		}
	}
}

/////////////////////////
//SECTION: RSVP & GUESTBOOK
////////////////////////
#rsvp, #guestbook {
	outline: none;
	.form {
		margin-top: 45px;
		padding: 20px;
		border: 2px solid $gold;
		border-radius: 1px;
	}
}
#rsvp-guestbook { outline: none; }

/////////////////////////
//SECTION: RSVP
////////////////////////
#form-rsvp {
	@include mobile {
		max-width: 425px;
    	margin: 30px auto;
	}
	#rsvp-yes { display: none; }
	input[name="rsvp-attendance"] { display: none; }
	.hidden-validation {
		font-style: italic;
		color: $gold;
		margin-top: 5px;
		display: none;
	}
	.form-radio-container {
	    border-radius: 5px;
	    padding: 4px;
	    background-color: white;
	}
	.form-radio {
		display: block;
		margin: 0 auto;
		padding: 5px 15px;
		font-size: 18px;
		cursor: pointer;
		border-radius: 3px;
		text-align: center;
		color: $navy-blue !important;
		border-right: 2px solid white;
		&:hover { background-color: lighten($gold , 30%); }
		&:active { background-color: $gold; }
		&:last-of-type { border-right: none; }
	}
	input[type="radio"]:checked + label.form-radio {
	   background-color: $gold;
	   color: $navy-blue !important;
	}
}

/////////////////////////
//SECTION: GUESTBOOK
////////////////////////
#upload {
	outline: none;
	.button { margin-bottom: 10px;}
}

/////////////////////////
//SECTION: GALLERY
////////////////////////
#gallery {
	img {
		margin: 0 auto;
		// @media (max-width: 768px) {
		// 	max-height: 300px;
		// 	max-width: 320px;
		// }
	}
}

/////////////////////////
//COMPONENT: SLICK
////////////////////////
.slick-track .slick-slide {
	display: flex;
	height: auto;
	align-items: center;
	justify-content: center;
}
.slick-slide { margin: 0 15px; } /* Parent */
.slick-list { margin: 0 -15px; } /* Parent */
.slick-track { display: flex; }
.img-slick { div {height: 300px;}}


//Hide Show Before/After
#cta-before, #cta-after, #rsvp, #reception-activity, #guestbook, .postwedding, .prewedding {
	display: none;
}
